<h1>
  {{ title }}
</h1>
<app-project-list>
  <h2>Proyectos Internos</h2>
  <button class="btn btn-primary pull-right" [routerLink]="['/proyectos/nuevo']">
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Proyecto
  </button>
</app-project-list>
<!--<app-project-list>-->
  <!--<h2>Proyectos Externos</h2>-->
  <!--<button class="btn btn-primary pull-right" [routerLink]="['/proyectos/nuevo']">-->
    <!--<span class="glyphicon glyphicon-plus"></span>-->
    <!--Agregar Proyecto-->
  <!--</button>-->
<!--</app-project-list>-->

<app-issues-list></app-issues-list>
